.App {
  background: #fafafaa8;
  min-height: 100vh;
  min-width: 100vh;
}

.App-main {
  width: 50%;
  margin: 0 auto;
}

.Container{
  flex: 1;
  background-color: '#fff';
  align-items: 'center';
  justify-content: 'flex-start';
  }

  .Images{
    display:flex;
    max-width: 80%;
    margin:2% auto;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .Singlephoto{
    max-width: 300px;
    align-self: auto;
    margin: 1% 2px;
    flex-grow: 1;
    vertical-align: middle;
  }